@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  background-color: #ebeef3;
}
.AUM-Container {
  margin: 20px;
}

.AUMTabHeader {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.AUMTabHeader h2 {
  font-size: 18px;
  font-weight: 600;
  color: #3f3f3f;
}

.AUMMobHeader {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
}

.AUMMobHeader h2 {
  font-size: 14px;
  font-weight: 600;
  color: #3f3f3f;
}

/* Stats Cards Row */
.AUMStatsRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 20px;
}

.AUMStatCard {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}

.AUMStatHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.AUMStatIcon {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AUMStatLabel {
  font-size: 13px;
  color: #636161;
  font-weight: 400;
}

.AUMStatValue {
  font-size: 24px;
  font-weight: 600;
  color: #3f3f3f;
  margin-bottom: 12px;
  text-align: left;
  padding-left: 3rem;
}

.AUMStatFooter {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

.AUMStatChange {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #8e8989;
  font-weight: 400;
}

.AUMStatChart {
  flex: 1;
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.AUMChartImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.AUMTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 1rem;
}

/* SEARCH BOX */
.AUMSearchBox {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  border-radius: 8px;
  background: #ffffff;
  width: 100%;
}

.AUMSearchBox input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font-size: 14px;
  color: #374151;
}

.AUMSearchBox input::placeholder {
  color: #9ca3af;
}

.AUMIcon {
  width: 18px;
  height: 18px;
}

/* RIGHT ACTIONS */
.AUMActions {
  display: flex;
  align-items: center;
  gap: 12px;
}

.AUMFilter {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 8px;
}

.AUMActionIcon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.AUMActionIcon img {
  width: 18px;
  height: 18px;
}

/* CREATE BUTTON */
.AUMCreateBtn {
  background: #989fff;
  color: #ffffff;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
}

/* CARD */
.AUMTableCard {
  background: #ffffff;
  border-radius: 8px; /* table radius */
  padding: 16px;
}

/* HEADER */
.AUMTableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #6828e7;
}

.AUMTableHeader h3 {
  font-size: 18px;
  font-weight: 600;
  color: #3f3f3f;
  font-family: "inter";
}

.AUMCount {
  color: #6828e7;
  font-size: 14px;
  font-weight: 500;
}

.AUMTableWrapper {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 400px;
}

.AUMTableWrapper::-webkit-scrollbar {
  width: 6px;
}

.AUMTableWrapper::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.AUMTableWrapper::-webkit-scrollbar-thumb {
  background: #716b6b;
  border-radius: 3px;
}

/* TABLE */
.AUMTable {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

.AUMTable thead th {
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 10px;
  color: #3f3f3f;
  border-bottom: 1px solid #d9d9d9;
}

/* BODY */
.AUMTable tbody td {
  padding: 14px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #3f3f3f;
}

/* USER CELL */
.AUMUserCell {
  display: flex;
  align-items: center;
  gap: 10px;
}

.AUMUserCell img {
  width: 32px;
  height: 32px;
  border-radius: 2px;
}

/* STATUS */
.AUMStatus {
  display: inline-block;
  padding: 8px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  width: 100px;
  text-align: center;
  color: #ffffff;
}

.AUMStatus.verified {
  background: #009605;
}
.AUMStatus.rejected {
  background: #ff0000;
}
.AUMStatus.verify {
  background: #74b0fa;
}
.AUMStatus.sent {
  background: #ecc824;
}

/* TOGGLE (static look) */
.AUMToggle {
  width: 34px;
  height: 18px;
  background: #d7d9f6;
  border-radius: 20px;
  position: relative;
  display: inline-block;
}

.AUMToggle::after {
  content: "";
  width: 14px;
  height: 14px;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.2s;
}

/* ACTIVE (Rejected) */
.AUMToggle.active {
  background: #eb9a9a;
}

.AUMToggle.active::after {
  left: 18px;
}

.main-content-flows-main {
  display: none;
  position: absolute;
  z-index: 1000;
  border: 1px solid #6828e7;
}
.main-content-flows-main.active-main-content-flows {
  display: block;
}
.main-filter-box-content {
  background-color: white;
  padding: 10px;
  height: 200px;
  overflow-y: auto;
  color: #3f3f3f;
  border-radius: 5px;
  width: 200px;
}
#filter-main li.active-filter {
  background-color: #b9e0db;
  color: #21a593;
  border-radius: 5px;
  cursor: pointer;
}
#filter-main li {
  cursor: pointer;
  padding: 5px 10px;
}

#status-box {
  right: 270px;
}
.main-head-filters {
  border-bottom: 1px solid #6828e7;
}
.main-filter-box-content > ul {
  padding-top: 10px;
  list-style: none;
}
.main-filter-box-content > ul > li {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.AUMTableWrapper::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.AUMTableWrapper::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.AUMTableWrapper::-webkit-scrollbar-track {
  background: transparent;
}

.AUMMobileFAQ {
  display: none;
}
.faq-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.faq-title img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.faq-user-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.faq-username {
  font-size: 14px;
  font-weight: 600;
  color: #3f3f3f;
}

.faq-usertype.buyer {
  font-size: 12px;
  font-weight: 400;
  color: #8e8989;
  margin-left: -57px;
}

.faq-usertype.developer {
  font-size: 12px;
  font-weight: 400;
  color: #8e8989;
  margin-left: -36px;
}

.faq-usertype.vendor {
  font-size: 12px;
  font-weight: 400;
  color: #8e8989;
  margin-left: -50px;
}

.AUMStatus.verified-mob {
  color: #009605;
  font-weight: 400;
  font-size: 14px;
}

.faq-item.active {
  border: 1px solid #0f8df340;
  border-radius: 12px;
  padding-bottom: 6px;
}

.faq-item.active .faq-question {
  border-bottom: 1px solid #cce8ff;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.faq-row {
  display: grid;
  grid-template-columns: 90px 1fr;
  align-items: center;
  padding: 10px 6px;
  font-size: 14px;
}

.faq-row span:first-child {
  color: #3f3f3f;
  font-weight: 400;
}

.faq-row span:last-child {
  color: #3f3f3f;
  font-weight: 500;
  text-align: left;
}

.faq-row .AUMStatus {
  width: fit-content;
  padding: 6px 10px;
}

.faq-row .AUMToggle {
  justify-self: start;
}

@media (max-width: 1024px) and (min-width: 595px) {
  .AUMTabHeader {
    display: flex;
  }

  .AUMTopBar .AUMCreateBtn {
    display: none;
  }
  .AUMStatsRow {
    grid-template-columns: repeat(2, 1fr);
  }

  .AUMTableWrapper {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 420px;
  }

  .AUMTable {
    min-width: 900px;
  }

  .AUMFilter {
    position: relative;
  }

  #filter-main {
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    margin-top: 8px;
    z-index: 1000;
  }
  #status-box {
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    margin-top: 8px;
    z-index: 999;
  }
  #sort-box {
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    margin-top: 8px;
    z-index: 1000;
  }
  .main-content-flows-main {
    position: absolute;
    right: auto;
    top: 100%;
    margin-top: 8px;
  }
}
@media (max-width: 595px) {
  .AUM-Container {
    margin: 0px;
  }

  .AUMTabHeader {
    display: none;
    padding: 10px 12px;
  }

  .AUMTabHeader h2 {
    font-size: 16px;
  }

  .AUMTabHeader .AUMCreateBtn {
    padding: 8px 12px;
    font-size: 12px;
  }

  .AUMMobHeader {
    display: flex;
    background-color: #ffffff;
    margin-top: 12px;
  }

  .AUMStatsSection {
    padding-left: 20px;
    background-color: #ffffff;
  }

  .AUMStatsRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 0 20px 20px 20px;
    background-color: #ffffff;
  }

  .AUMStatCard {
    padding: 12px;
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
  }

  .AUMStatHeader {
    gap: 8px;
  }

  .AUMStatIcon {
    width: 28px;
    height: 28px;
  }

  .AUMStatValue {
    font-size: 22px;
    padding-left: 10px;
    margin-top: 4px;
    margin-bottom: 6px;
  }

  .AUMStatFooter {
    justify-content: space-between;
  }

  .AUMStatChange {
    font-size: 10px;
  }

  .AUMStatChart {
    height: 28px;
  }

  .AUMStatlabel {
    font-size: 10px;
  }

  .AUMTopBar {
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 12px;
  }

  .AUMSearchBox {
    flex: 1;
    padding: 10px 12px;
  }

  .AUMSearchBox input {
    font-size: 13px;
  }

  .AUMActions {
    gap: 8px;
  }

  .AUMActions .AUMCreateBtn {
    display: none;
  }

  .AUMFilter {
    border-radius: 8px;
  }

  .AUMActionIcon {
    width: 40px;
    height: 40px;
  }

  .AUMActionIcon img {
    width: 16px;
    height: 16px;
  }

  .AUMTableCard {
    display: none;
  }

  .AUMMobileFAQ {
    display: block;
    background: white;
    padding: 10px;
    margin: 12px;
  }

  .faq-question {
    width: 100%;
    background: white;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 8px;
  }

  .faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease;
  }

  .faq-item.active .faq-answer {
    max-height: 500px;
  }

  .faq-row .AUMStatus {
    background: none;
    padding: 0;
    width: auto;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
  }

  .faq-row .AUMStatus.verified-mob {
    color: #009605;
  }

  .faq-row .AUMStatus.verify-mob {
    color: #74b0fa;
  }

  .faq-row .AUMStatus.rejected-mob {
    color: #ff0000;
  }

  .faq-row .AUMStatus.sent-mob {
    color: #ecc824;
  }
}
