@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  background-color: #ebeef3;
}

/* Card */
.DPMPC-category-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.DPMPC-floating-plus-btn {
  display: none;
}

/* Header */
.DPMPC-mob-card-header {
  display: none;
}

.DPMPC-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.DPMPC-card-header h2 {
  font-size: 18px;
  font-weight: 600;
  color: #3f3f3f;
  font-family: "inter";
}

.DPMPC-create-btn {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background: #0e8bf3;
  padding: 10px 20px;
  border-radius: 8px;
  border: 1px solid #00000000;
  cursor: pointer;
}

/* Divider */
.DPMPC-divider {
  margin: 15px 0;
  border-bottom: 1px solid #c8dae7;
}

/* Table Wrapper */
.DPMPC-table-wrapper {
  height: 600px;
  overflow-x: auto;
  overflow-y: auto;
}

.DPMPC-table-wrapper::-webkit-scrollbar {
  width: 6px;
}

.DPMPC-table-wrapper::-webkit-scrollbar-track {
  background: #d9d9d9;
}

.DPMPC-table-wrapper::-webkit-scrollbar-thumb {
  background: #716b6b;
  border-radius: 3px;
}

.DPMPC-table-wrapper::-webkit-scrollbar-thumb {
  background: #716b6b;
  border-radius: 3px;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  border-bottom: 1px solid #d9d9d9;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
}

thead th {
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  color: #3f3f3f;
  padding: 12px 10px;
}

tbody td {
  font-size: 14px;
  font-weight: 400;
  color: #3f3f3f;
  padding: 14px 10px;
  vertical-align: middle;
}

/* Category Cell */
.DPMPC-category-cell {
  padding-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.DPMPC-category-cell img {
  width: 22px;
  height: 22px;
}

.DPMPC-table-wrapper::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.DPMPC-table-wrapper::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.DPMPC-table-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.DPMPC-APRAMobileFAQ {
  display: none;
}

.DPMPC-APRAfaq-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.DPMPC-APRAfaq-title img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.DPMPC-APRAfaq-user-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.DPMPC-APRAfaq-username {
  font-size: 14px;
  font-weight: 600;
  color: #3f3f3f;
}

.DPMPC-APRAfaq-item.active {
  padding-bottom: 6px;
  border-bottom: 1px solid #c8dae7;
}

.DPMPC-APRAfaq-question {
  border-bottom: 1px solid #cce8ff;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-radius: 0px;
  background: #e9f0f5;
}

.DPMPC-APRAfaq-row {
  display: grid;
  grid-template-columns: 90px 1fr;
  align-items: center;
  padding: 10px 6px;
  font-size: 14px;
}

.DPMPC-APRAfaq-row span:first-child {
  color: #3f3f3f;
  font-weight: 700;
}

.DPMPC-APRAfaq-row span:last-child {
  color: #3f3f3f;
  font-weight: 400;
  text-align: left;
}

.DPMPC-APRAfaq-row {
  width: fit-content;
  padding: 6px 10px;
}

.DPMPC-table-wrapper th:last-child,
.DPMPC-table-wrapper td:last-child {
  padding-right: 6px;
  width: 40px;
  text-align: right;
}
.edit-page-navigation-btn{
  cursor: pointer;
}

/* Responsive */

@media (max-width: 1024px) and (min-width: 595px) {
  .DPMPC-table-wrapper {
    width: 100%;
    height: 100%;
  }

  table {
    width: 100%;
    table-layout: auto;
  }

  th,
  td {
    padding: 10px 8px;
    font-size: 14px;
    white-space: normal;
  }

  .DPMPC-category-cell {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .DPMPC-category-cell img {
    flex-shrink: 0;
  }
}

@media (max-width: 595px) {
  body {
    background-color: #ffffff;
  }

  .DPMPC-table-wrapper {
    display: none;
  }

  .DPMPC-create-btn {
    display: none;
  }
  .DPMPC-divider {
    display: none;
  }
  .DPMPC-floating-plus-btn {
    display: flex;
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
  }

  .DPMPC-floating-plus-btn img {
    width: 20px;
    height: 20px;
  }
  .DPMPC-APRAMobileFAQ {
    display: block;
    background: white;
    padding-top: 20px;
  }

  .DPMPC-APRAfaq-question {
    width: 100%;
    background: #e9f0f5;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }

  .DPMPC-APRAfaq-answer {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease;
  }

  .DPMPC-APRAfaq-item.active .DPMPC-APRAfaq-answer {
    max-height: 500px;
  }
  .DPMPC-APRAfaq-item {
    margin-bottom: 10px;
  }
  .DPMPC-card-header h2 {
    display: none;
  }
  .DPMPC-mob-card-header {
    display: block;
  }
  .DPMPC-mob-card-header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .DPMPC-mob-card-header img {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .DPMPC-mob-card-header h4 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
}

