@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  background: #ebeef3;
}

.page-wrapper {
  padding: 20px;
}

.card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  padding: 20px 24px 16px;
}

.card-header h2 {
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  padding-bottom: 10px;
  border-bottom: 1px solid #3b8af5;
}

.core-content {
  padding: 0 24px 24px;
}

.section-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0 12px 0px;
  border-bottom: 1px solid #e8e8e8;
}

.section-row .label {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.edit-btn {
  background: none;
  border: none;
  color: #0f8df3;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 2px 0;
}

.field-block {
  padding: 16px 0 4px;
}

.field-block + .field-block {
  border-top: none;
}

.field-label {
  font-size: 13px;
  font-weight: 700;
  color: #3f3f3f;
  margin-bottom: 4px;
}

.field-value {
  font-size: 14px;
  color: #3f3f3f;
  font-weight: 400;
  line-height: 1.5;
}

.images-card {
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px 24px 28px;
  margin-top: 20px;
}

.images-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.images-title {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.images-title h3 {
  font-size: 16px;
  font-weight: 700;
  color: #111;
}

.images-title span {
  font-size: 12px;
  color: #888;
  font-weight: 400;
}

.publish-btn {
  background: #3b8af5;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  padding: 9px 22px;
  cursor: pointer;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.img-tile {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background: #f5f5f5;
}

.img-tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.tile-menu-btn {
  position: absolute;
  top: 8px;
  right: 8px;
}

.tile-menu-btn img {
  width: 18px;
  height: 18px;
  object-fit: contain;
  display: block;
}

.tile-dropdown {
  position: absolute;
  top: 40px;
  right: 8px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  z-index: 10;
  min-width: 100px;
  display: none;
  padding: 10px;
  border: 1px solid #d9d9d9;
}

.tile-dropdown.open {
  display: block;
}

.tile-dropdown button {
  display: block;
  width: 100%;
  padding: 10px 14px;
  text-align: left;
  background: none;
  border: none;
  font-size: 13px;
  cursor: pointer;
  color: #222;
}
.tile-dropdown button:hover {
  background: #1290f7;
  color: #ffffff;
}

.img-tile-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.img-tile,
.add-tile {
  height: 180px;
}

.img-caption {
  font-size: 11px;
  color: #999;
}

.add-tile {
  aspect-ratio: 16/10;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #f7f7f7;
}

.add-icon {
  width: 40px;
  height: 40px;
  background: #3b8af5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  line-height: 1;
  font-weight: 300;
  user-select: none;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
  color: #3f3f3f;
}

.form-group input {
  width: 60%;
  padding: 10px;
  background: #ebf3f9;
  border: none;
  border-radius: 6px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.input-error {
  border: 1px solid red !important;
}

/* Responsive  */
@media (max-width: 1024px) and (min-width: 595px) {
  .image-grid {
    grid-template-columns: 1fr;
  }

  .img-tile,
  .add-tile {
    aspect-ratio: 1 / 1;
  }
  .img-caption {
    display: none;
  }
  .form-group input {
    width: 100%;
  }
}

@media (max-width: 595px) {
  .image-grid {
    grid-template-columns: 1fr;
  }

  .img-tile,
  .add-tile {
    aspect-ratio: 1 / 1;
  }
  .page-wrapper {
    padding: 0;
  }

  .img-caption {
    display: none;
  }

  .images-title span {
    display: none;
  }

  .form-group input {
    width: 100%;
  }
  .form-group label {
    margin-top: 10px;
  }
}
