@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

.DPMCNC-create-category-screen {
  background: #ffffff;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 20px;
}

.DPMCNC-create-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.DPMCNC-card-title {
  background: #e7f0f9;
  padding: 12px 15px;
  border-radius: 4px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3f3f3f;
}

.DPMCNC-back-btn {
  width: 20px;
  cursor: pointer;
  margin-top: 6px;
}

.DPMCNC-create-header h3 {
  font-size: 18px;
  font-weight: 600;
  color: #3f3f3f;
}

.DPMCNC-create-form {
  max-width: 420px;
}

.DPMCNC-create-form label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #3f3f3f;
}

.DPMCNC-upload-container-res {
  display: none;
}

.DPMCNC-create-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
}

.DPMCNC-create-submit {
  width: 100%;
  padding: 12px;
  background: #0e8bf3;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 20px;
}

.DPMCNC-upload-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.DPMCNC-upload-title {
  font-size: 14px;
  font-weight: 600;
  color: #3f3f3f;
  width: 280px;
}

.DPMCNC-upload-box {
  width: 150px;
  height: 150px;
  background: #00000033;
  border: 1.5px solid #00000033;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.DPMCNC-upload-box img {
  width: 28px;
  height: 28px;
  opacity: 0.8;
}

.DPMCNC-create-category-layout {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}

/* left form */
.DPMCNC-create-form {
  flex: 1;
  max-width: 420px;
}

/* right upload */
.DPMCNC-upload-container {
  width: 180px;
  margin: 14px 0 6px;
}

.DPMCNC-error {
  color: #e53935;
  font-size: 12px;
  margin-top: 12px;
}

.DPMCNC-upload-error {
  border: 1px solid #e53935;
}

.DPMCNC-upload-box {
  transition: 0.3s ease;
}

.DPMCNC-imageError {
  margin-top: 0;
}

.DPMCNC-create-form input:focus {
  outline: none;
}

@media (max-width: 1024px) and (min-width: 595px) {
  .DPMCNC-upload-box-res {
    width: 130px;
    height: 130px;
    background: #00000033;
    border: 1.5px solid #00000033;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .DPMCNC-upload-box-res img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
  }
  .DPMCNC-upload-container {
    display: none;
  }

  .DPMCNC-upload-container-res {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .DPMCNC-upload-title-res {
    font-size: 14px;
    font-weight: 600;
    color: #3f3f3f;
    margin: 14px 0 6px;
  }
}

@media (max-width: 595px) {
  .DPMCNC-upload-container {
    display: none;
  }

  .DPMCNC-upload-container-res {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .DPMCNC-upload-title-res {
    font-size: 14px;
    font-weight: 600;
    color: #3f3f3f;
    margin: 14px 0 6px;
  }
  .DPMCNC-upload-box-res {
    width: 120px;
    height: 120px;
    background: #00000033;
    border: 1.5px solid #00000033;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .DPMCNC-upload-box-res img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
  }
  #DPMCNC-backToList{
    display: none;
  }
  .DPMCNC-create-header h3{
    display: none;
  }
}
