@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  background: #ebeef3;
}

.DHMHSEScontainer {
  height: 100%;
  overflow-y: auto;
}

.DHMHSEScard {
  background: #ffffff;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 25px;
}

.DHMHSEScard-header {
  border-bottom: 1px solid #0f8df3;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.DHMHSEScard-header h2 {
  color: #000000;
  font-weight: 700;
  font-size: 22px;
}

.DHMHSESsection-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 15px;
}

.DHMHSESsection-top h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.DHMHSESsection-top h3 span {
  color: #716b6b;
  font-weight: 400;
  font-size: 11px;
}

.DHMHSESpublish-btn {
  background: #0e8bf3;
  color: #fff;
  border: none;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
}

.DHMHSESform-group {
  margin-bottom: 20px;
}

.DHMHSESform-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #3f3f3f;
}

.DHMHSESform-group input {
  width: 70%;
  padding: 12px;
  background: #ebf3f9;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

.DHMHSESform-group input:focus {
  outline: none;
  box-shadow: none;
}

.DHMHSESupload-wrapper {
  display: flex;
  gap: 20px;
  width: 60%;
}

.DHMHSESupload-box {
  flex: 1;
  background: #f3f4f6;
  border-radius: 10px;
  padding: 40px 20px;
  text-align: center;
  position: relative;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DHMHSESupload-icon img {
  width: 40px;
  margin-bottom: 15px;
}

.DHMHSESupload-box p {
  margin-bottom: 10px;
  color: #666;
}

.DHMHSESsmall-text {
  font-size: 12px;
  color: #8e8989;
  font-weight: 400;
  margin-top: 10px;
}

.DHMHSESplus-icon {
  width: 50px;
  height: 50px;
  background: #1e88e5;
  border-radius: 50%;
  color: #fff;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.DHMHSESadd-media-box {
  position: relative;
}

.DHMHSESmedia-popup {
  position: absolute;
  top: 130px;
  right: 45px;
  background: #ffffff;
  border-radius: 6px;
  padding: 10px;
  display: none;
  flex-direction: column;
  gap: 8px;
  min-width: 120px;
  z-index: 10;
}

.DHMHSESmedia-popup button {
  padding: 8px 10px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
}

.DHMHSESmedia-popup button:hover {
  background: #1e88e5;
  color: #fff;
}

.DHMHSESmedia-popup button.DHMHSESactive {
  background: #1e88e5;
  color: #fff;
}

.DHMHSESmedia-popup.DHMHSESshow {
  display: flex;
}

.DHMHSESpublish-btn-mob,
.DHMHSESsmall-text-mob {
  display: none;
}

.DHMHSESerror-message {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
  display: block;
}

.DHMHSESinput-error {
  border: 1px solid #ff0000 !important;
}

.DHMHSESview-text {
  color: #3f3f3f;
  font-weight: 400;
  margin-top: 4px;
}

.DHMHSESedit-btn {
  background: none;
  border: none;
  color: #0e8bf3;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 1024px) and (min-width: 595px) {
  .DHMHSESupload-wrapper {
    flex-direction: column;
  }

  .DHMHSESupload-box {
    width: 100%;
  }

  .DHMHSESmedia-popup {
    right: 190px;
  }
  .DHMHSESupload-wrapper,
  .DHMHSESform-group input {
    width: 100%;
  }
  .DHMHSEScard {
    border-radius: 0;
  }
}

@media (max-width: 595px) {
  body{
    background: #fff;
  }

  .DHMHSEScontainer {
    padding: 0px;
    border-top: 1px solid #0F8DF3;
  }
  
  .DHMHSEScard-header{
    display:none;
  }

  .DHMHSEScard {
    padding: 18px;
    border-radius: 0;
  }

  .DHMHSESsection-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .DHMHSESpublish-btn {
    display: none;
  }

  .DHMHSESform-group input {
    width: 100%;
  }

  .DHMHSESmedia-popup {
    right: 5px;
    top: 150px;
  }
  .DHMHSESupload-wrapper {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .DHMHSESpublish-btn-mob {
    display: block;
    background: #0e8bf3;
    color: #fff;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  .DHMHSESsmall-text {
    display: none;
  }
  .DHMHSESsmall-text-mob {
    display: block;
    font-size: 12px;
    color: #8e8989;
    font-weight: 400;
  }
  .DHMHSEScard-header h2 {
    font-size: 18px;
  }
}
