@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

body {
  background: #ebeef3;
}

.EEDSWT-container {
  padding-bottom: 20px;
}

/* Header */
.EEDSWT-heading-part {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  padding: 14px 20px;
  border-radius: 10px;
}
.EEDSWT-header {
  font-weight: 700;
  font-size: 20px;
}

.EEDSWT-add {
  background: #0e8bf3;
  color: #fff;
  border: none;
  padding: 8px 26px;
  border-radius: 5px;
  cursor: pointer;
}

/* Card */
.EEDSWT-card {
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
}

/* Top Row */
.EEDSWT-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EEDSWT-left .EEDSWT-title {
  font-weight: 700;
  margin-right: 10px;
  font-size: 18px;
}

.EEDSWT-left .EEDSWT-count {
  color: gray;
}

.EEDSWT-right img {
  width: 18px;
  margin-left: 10px;
  cursor: pointer;
}

/* Divider */
.EEDSWT-divider {
  height: 1px;
  background: rgba(15, 141, 243, 1);
  margin: 10px 0;
}

/* Table */
.EEDSWT-table {
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

.EEDSWT-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  padding: 12px 0;
}

.EEDSWT-header-row {
  font-weight: 600;
  color: #555;
  border-bottom: 1px solid #d9d9d9;
  position: sticky;
  top: 0;
  background: #ffffff;
  z-index: 5;
}

/* Workshop */
.EEDSWT-workshop {
  display: flex;
  align-items: center;
  gap: 10px;
}

.EEDSWT-workshop img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

/* Status Colors */
.EEDSWT-live {
  color: rgba(0, 150, 5, 1);
}

.EEDSWT-draft {
  color: rgba(18, 144, 247, 1);
}

.EEDSWT-archived {
  color: rgba(236, 140, 36, 1);
}

/* Enrolled */
.EEDSWT-green {
  color: rgba(0, 150, 5, 1);
}

/* Edit */
.EEDSWT-edit {
  width: 16px;
  cursor: pointer;
}

/* POPUP */
.EEDSWT-popup {
  position: absolute;
  top: 60px;
  right: 20px;
  width: 220px;
  background: #fff;
  border-radius: 10px;
  display: none;
  z-index: 100;
}

.EEDSWT-popup-content {
  padding: 15px;
}

.EEDSWT-popup h3 {
  margin-bottom: 10px;
}

.EEDSWT-filter-group {
  margin-bottom: 10px;
}

.EEDSWT-filter-group p {
  font-weight: 600;
  margin-bottom: 5px;
}

.EEDSWT-popup p {
  cursor: pointer;
  padding: 5px 0;
}

.EEDSWT-filter-options {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.EEDSWT-popup-header {
  border-bottom: 1px solid #0f8df3;
  padding-bottom: 5px;
}

/* Scrollbar */
.EEDSWT-table::-webkit-scrollbar {
  width: 8px;
}

.EEDSWT-table::-webkit-scrollbar-button {
  display: none;
}

.EEDSWT-table::-webkit-scrollbar-track {
  background: #f1f3f7;
  border-radius: 10px;
}

.EEDSWT-table::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

.EEDSWT-mobile,
.EEDSWT-floating-plus-btn {
  display: none;
}

/* Modal */
.EDOSP-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3f3f3fcc;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;
}

.EDOSP-modal-content {
  background: #fff;
  width: 700px;
  border-radius: 10px;
  padding: 20px;
}

.EDOSP-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0f8df3;
  padding-bottom: 10px;
}

.close-btn {
  cursor: pointer;
  font-size: 20px;
}

.EDOSP-modal-body .row {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.field input,
.field select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #ebf3f9;
}

.publish-btn {
  flex: 1;
  height: 42px;
  background: #0f8df3;
  color: #fff;
  border: none;
  border-radius: 6px;
  margin-top: 22px;
  cursor: pointer;
}

.upload-box {
  background: #ebf3f9;
  border: 1px solid #ebf3f9;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: #7a7a7a;
}

.upload-box:hover {
  border: 1px solid #0f8df3;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

@media (max-width: 1024px) and (min-width: 595px) {
  .EEDSWT-table {
    overflow-x: auto;
    overflow-y: auto;
  }

  .EEDSWT-row {
    min-width: 900px;
  }

  .EEDSWT-row div {
    white-space: nowrap;
  }
}

@media (max-width: 595px) {
  .EEDSWT-container {
    display: none;
  }
  .EEDSWT-mobile {
    display: block;
    padding-top: 10px;
  }
  .EEDSWT-mobile-itmes {
    margin: 10px;
    background-color: #fff;
  }
  body {
    background: #f5f5f5;
  }

  /* ACCORDION ITEM */
  .EEDSWT-acc-item {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: hidden;
  }

  /* HEADER */
  .EEDSWT-acc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    cursor: pointer;
  }

  /* WORKSHOP */
  .EEDSWT-acc-header .EEDSWT-workshop {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .EEDSWT-acc-header img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  /* ARROW */
  .EEDSWT-arrow {
    width: 18px;
    transition: transform 0.3s ease;
  }

  /* BODY */
  .EEDSWT-acc-body {
    display: none;
    padding: 12px;
  }

  .EEDSWT-acc-body.active {
    display: block;
  }

  .EEDSWT-acc-body div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
  }

  .EEDSWT-acc-body div span:first-child {
    color: #3f3f3f;
    justify-self: start;
    text-align: left;
    font-weight: 600;
  }

  .EEDSWT-acc-body div span:nth-child(2) {
    justify-self: center;
    text-align: center;
    font-weight: 400;
    color: #3f3f3f;
  }

  .EEDSWT-acc-body div span:nth-child(3) {
    justify-self: end;
  }

  .EEDSWT-acc-item.active {
    border: 1px solid #0f8df340;
  }
  .EEDSWT-acc-item.active .EEDSWT-acc-body {
    border-top: 1px solid#0F8DF340;
  }
  .EEDSWT-Mob-header {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 1rem;
    color: #3f3f3f;
    font-weight: 700;
    font-size: 18px;
  }
  .EEDSWT-mob-count {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    color: #716b6b;
    font-weight: 400;
  }
  .EEDSWT-mob-edit {
    width: 16px;
    justify-self: end;
    cursor: pointer;
  }
  .EEDSWT-mob-live {
    color: rgba(0, 150, 5, 1) !important;
  }
  .EEDSWT-mob-draft {
    color: rgba(18, 144, 247, 1) !important;
  }
  .EEDSWT-mob-archived {
    color: rgba(236, 140, 36, 1) !important;
  }
  .EEDSWT-mob-green {
    color: #009605 !important;
  }
  .EEDSWT-floating-plus-btn {
    display: flex;
    position: fixed;
    bottom: 86px;
    right: 30px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
  }
}

.add-short-workshop-popup-main{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.add-short-workshop-popup-container{
    width: 420px;
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 90%;
    overflow-y: auto;
}

.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h2{
    font-size: 18px;
  
}

.close-popup{
    width: 22px;
    cursor: pointer;
}

.popup-form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.popup-form-group label{
    font-size: 14px;
    font-weight: 600;
    color: #3F3F3F;
}

.popup-form-group input,
.popup-form-group select{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 0 12px;
    outline: none;
    font-size: 14px;
    background-color: #EBF3F9;
}

.duration-wrapper{
    display: flex;
    gap: 12px;
}

.duration-wrapper input{
    width: 100%;
    
}

.price-wrapper{
    position: relative;
}

.price-wrapper span{
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600;
}

.price-wrapper input{
    padding-left: 35px;
    background-color: #EBF3F9;
}

.add-short-workshop-popup-container .continue-btn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #0F8DF3;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.popup-error{
    display: none;
    color: red;
    font-size: 10px;
    margin-top: -2px;
}

.input-error{
    border: 1px solid red !important;
}

@media(max-width:500px){

    .add-short-workshop-popup-container{
        width: 92%;
        padding: 20px;
    }

}
