@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap");

body {
  margin: 0;
  background: #f5f5f5;
  font-family: "Nunito Sans";
  color: #3f3f3f;
}

.page-container {
  padding: 0 2rem;
}

/* Back */
.back-row {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 18px 22px;
  font-weight: 400;
  color: #3f3f3f;
}

.back-icon {
  width: 22px;
}

.headerContainer{
  padding: 0 2rem;
}

.header-banner {

  height: 140px;
  background: url("../assets/cart/bg.svg") center/cover;
  position: relative;
  width: 100%; /* full width OF THE CONTAINER, NOT SCREEN */
  box-sizing: border-box;
}

.overlay {
  width: 100%;
  height: 140px;
  background-color: rgba(255, 0, 0, 0.06);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-left: 24px;
  box-sizing: border-box;
}

.page-heading {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
  color: #3f3f3f;
}

/* Policy Container */
.policy-container {
  background: #fff8f8;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
}

.policy-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.last-updated {
  font-size: 14px;
  font-weight: 400;
  color: #3f3f3f;
}

.language-switch {
  padding: 6px 10px;
  border: 1px solid #8e8989;
  background: white;
  font-weight: 400;
  font-size: 14px;
  border-radius: 6px;
}

/* Text */
.policy-text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #3f3f3f;
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 6px;
  color: #000000;
}

.section-content {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 16px 0;
  color: 3f3f3f;
}

/* Responsive */
@media (min-width: 595px) and (max-width: 1024px) {
  .headerContainer{
    padding:  0 0;
  }
  .page-heading {
    font-size: 22px;
  }

  .policy-container {
    margin-top: 1.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    
  }
  .policy-top {
    margin-top: 1rem;
  }
  .section-title {
    font-size: 16px;
  }

  .section-content,
  .policy-text {
    font-size: 14px;
  }

  .back-row {
    display: none;
  }
  .page-wrapper {
    margin: 0;
  }
}
