@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans" ;
}
.carousel-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: 75px;
}

.carousel-slide {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2); /* 20% black */

}

.carousel-slide img {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
    filter: brightness(0.6);
    z-index: 1;
}

/* Dots below the image */
.dots {
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #D9D9D9;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
}

.dot.active {
    background-color: #A10404;
}