@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Padauk:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans";
}

/* Section */
.similar-finds-section {
  background: #ffffff;
  padding: 40px 20px;
  text-align: center;
}
.similar-title {
  font-size: 22px;
  font-weight: 700;
  color: #3f3f3f;
  position: relative;
  margin-bottom: 40px;
}

.similar-title::after {
  content: "";
  width: 120px;
  height: 3px;
  background: #a10404;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.similar-list {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Card */
.similar-card {
  width: 170px;
  text-align: center;
}

.similar-card img {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
}

.similar-card h3 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #3a3f45;
}

.brand {
  font-size: 13px;
  color: #716b6b;
  margin: 4px 0;
}

.price {
  font-size: 16px;
  font-weight: 400;
  color: #3f3f3f;
  margin-top: 4px;
}

.old-price {
  text-decoration: line-through;
  color: #716b6b;
  font-size: 12px;
  margin-left: 4px;
}

.offer {
  color: #3f3f3f;
  margin-left: 4px;
  font-size: 13px;
}

/* button */
.load-more-btn {
  display: block;
  margin: 20px auto 0;
  padding: 10px 22px;
  font-size: 20px;
  background: none;
  border: none;
  color: #a10404;
  cursor: pointer;
}

/*Recently Viewed*/
.recently-viewed-section {
  background: #f5f5f5;
  padding: 40px 20px;
  border-radius: 8px;
}

.rv-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  position: relative;
  margin-bottom: 40px;
}

.rv-title::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 3px;
  background: #a10404;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.rv-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 25px;
}

/* CARD */
.rv-card {
  background: #ffffff;
  border-radius: 8px;
  padding: 12px;
  position: relative;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.rv-img {
  position: relative;
}

.rv-img img {
  width: 100%;
  height: 180px;
  border-radius: 8px;
  object-fit: cover;
}

/* WISHLIST ICON */
.rv-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}

.rv-wishlist img {
  width: 22px;
  height: 22px;
  object-fit: contain;
  display: block;
  cursor: pointer;
}

/* RATING */
.rv-rating {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: linear-gradient(135deg, #ffffff40, #00000020);
  backdrop-filter: blur(2px);
  padding: 3px 8px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 4px;
}

.rv-rating img {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin: 0 2px;
  transform: translateY(-1px);
}

.rv-rating span {
  color: #fff;
  opacity: 0.9;
  font-weight: 500;
}

/* PRODUCT NAME */
.rv-name {
  font-size: 15px;
  margin-top: 12px;
  color: #3d3434;
  font-weight: 600;
}

.rv-rating-media {
  display: none;
}

/* COMPANY + STATE */
.rv-line {
  margin-top: 4px;
}
.rv-company {
  font-size: 14px;
  color: #716b6b;
  font-weight: 400;
  margin-right: 5px;
}

.rv-state {
  font-size: 12px;
  color: #716b6b;
  font-weight: 400;
}

/* FREE + LEFT ONLY TAGS */
.rv-tags {
  margin-top: 10px;
  font-size: 12px;
}

.rv-tags .free {
  color: #009605;
  font-weight: 400;
  font-size: 12px;
}

.rv-tags .left {
  color: #ff0000;
  margin-left: 10px;
  font-weight: 400;
  font-size: 12px;
}

/* PRICE */
.rv-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.rv-price {
  font-size: 16px;
  color: #3f3f3f;
  display: flex;
  align-items: center;
  gap: 8px;
}

.rv-price .old {
  text-decoration: line-through;
  color: #999;
}

.rv-price .off {
  color: #a10404;
}

.rv-share img {
  width: 22px;
  height: 22px;
  object-fit: contain;
  opacity: 0.85;
  cursor: pointer;
  transition: 0.2s;
}

/* Responsive */
@media (min-width: 768px) and (max-width: 1024px) {
  .similar-title {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .similar-title::after {
    display: none;
  }
  .similar-list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 20px;
  }

  .similar-card {
    width: 150px;
    flex: 0 0 auto;
  }

  .similar-card img {
    width: 90px;
    height: 90px;
  }
  .load-more-btn {
    display: none;
  }
  .offer {
    color: #a10404;
    font-size: 8px;
  }
  .price {
    font-size: 14px;
    font-weight: 500;
  }
  .old-price {
    font-size: 10px;
  }
  .brand {
    font-size: 12px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .similar-finds-section {
    background: #efdfdf;
  }

  .similar-title {
    text-align: left;
    color: #a10404;
    margin-bottom: 20px;
  }

  .similar-title::after {
    display: none;
  }

  .similar-list {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 10px;
  }

  .similar-card {
    width: 150px;
    flex: 0 0 auto;
  }

  .similar-card img {
    width: 90px;
    height: 90px;
  }

  .load-more-btn {
    display: none;
  }

  .offer {
    color: #a10404;
    font-size: 8px;
  }

  .price {
    font-size: 14px;
    font-weight: 500;
  }

  .old-price {
    font-size: 10px;
  }

  .brand {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .rv-title {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .rv-grid {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 20px;
  }

  .rv-card {
    width: 150px;
    height: auto;
    flex: 0 0 auto;
  }
  .rv-title::after {
    display: none;
  }
  .rv-rating {
    display: none;
  }
  .rv-rating-media {
    display: block;
  }
}
